*{
  margin: 0;
  padding: 0;
  }
  .nav {
    display: flex;
    padding: 10px;
    justify-content: center;
   list-style: none;
  height: 40px;
  width: 100%;
  background-color: skyblue;
  
  }
  .nav li a{
    padding: 10px;
    color: white;
  }
  .footer{
    height: 35px;
    width: 100%;
    background-color: skyblue;
  position: absolute;
  bottom: 0;
   text-align: center;
   color: aliceblue;
  }
  .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
   border-top-left-radius: 37px 140px;
   border-top-right-radius: 23px 130px;
   border-bottom-left-radius: 110px 19px;
   border-bottom-right-radius: 120px 24px;
  border: 2px solid skyblue;
  height: 400px;
  width: 30%;
  margin-left: 450px;
  color: grey;
  }
  
  .input-box{
    margin: 20px;
    height: 25px;
    width: 300px;
    border-radius:5px;
  border:2px solid skyblue;
  text-align: center;
  }
  .btn{
    height: 30px;
    width: 100px;
    background-color: skyblue;
    border-radius: 10px;
    border: 1px solid skyblue;
    color: aliceblue;
    cursor: pointer;
  }
  .btn:hover{
    background-color: azure;
    color: skyblue;
  }
  .invalid{
    color: red;
   margin-top: -10px;
   font-size: 10px;
   padding: 5px;
  }
  .product-list{
    text-align: center;
    margin-top: 50px;
  }
  .product-list ul li{
    display: inline-block;
    border: 1px solid skyblue;
    padding: 5px;
    width: 150px;
    margin-top: 30px;
  }
  .product-list ul li{
    margin: 0px;
  }
  .search-box{
    width:400px;
  height: 30px;
  text-align: center;
  margin: 30px;
  }